.trialContainer {
  padding: 20px;
  color: #000;
  .trialTitle {
    display: flex;
    align-items: center;
    gap: 10px;

    .stepIcon {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }
  }

  .availabilityTitle {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  .availabilityList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    padding-right: 10px;
  }

  .availabilityItem {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent; /* Pour WebKit (Chrome, Safari, mobile) */
    -webkit-user-select: none; /* Empêche la sélection de texte sur mobile */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Standard */
    input {
      display: none;
    }

    &.selected {
      background-color: #f0f8ff;
      border-color: #000;
    }

    .date,
    .time,
    .place {
      text-align: left;
    }
  }

  .buttons-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .btn-prev-step,
    .btn-next-step {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 5px;
      border: 1px solid #000;
    }

    .btn-prev-step {
      background-color: #ddd;
      color: #333;
    }

    .btn-next-step {
      color: #000;
    }
  }
}

.availabilityList {
  max-height: 300px;
  overflow-y: auto;
}

.availabilityItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  cursor: pointer;

  input[type="checkbox"] {
    display: none;
  }

  .checkbox-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #000;
  }

  &.selected .checkbox-custom {
    background-color: transparent;
  }
}
