.courseTypeContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  color: #000;

  .courseTypeTitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .stepIcon {
      font-size: 24px;
      margin-right: 10px;
      color: #000;
    }

    h2 {
      font-size: 20px;
      margin: 0;
      color: #000;
    }
  }

  form {
    .courseTypeFormContainer {
      .section {
        margin-bottom: 30px;

        h3 {
          font-size: 16px;
          margin-bottom: 10px;
          color: #000;
        }

        .options {
          display: flex;
          gap: 20px;

          label {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #000;
            cursor: pointer;

            input[type="radio"] {
              margin-right: 8px;
              accent-color: #007bff;
            }
          }
        }

        &:nth-child(2) {
          .options {
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }

    .buttons-group {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: calc(100% - 40px);
      margin-top: 30px;

      .btn-prev-step {
        background: transparent;
        border: 1px solid #000;
        padding: 5px 15px;
        color: #000;
        font-size: 16px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.01);
        }
      }

      .btn-next-step {
        position: absolute;
        right: 0;
        bottom: -30px;
        background: transparent;
        border: 1px solid #000;
        padding: 5px 15px;
        color: #000;
        font-size: 16px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 15px;
        transition: all 0.2s ease;

        &:hover {
          transition: all 0.2s ease;
          transform: scale(1.01);
          cursor: pointer;
        }
      }
    }
  }
}
