.containerRecap {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  padding: 50px;

  .RecapTitle {
    display: flex;
    gap: 15px;
    align-items: center;

    .stepIcon {
      width: 35px;
      height: 35px;
    }

    h2 {
      font-size: 28px;
      @media (max-width: 1030px) {
        font-size: 22px;
      }
    }
  }

  .containerAllRecap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;

    .containerRecapObject,
    .containerUserRecap {
      padding: 0 20px;
      border-radius: 8px;

      p {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding-left: 75px;
        @media (max-width: 420px) {
          padding-left: 0px;
        }

        li {
          font-size: 18px;
          margin-bottom: 8px;
          padding-left: 15px;
          position: relative;
          list-style-type: none;
          @media (max-width: 420px) {
            font-size: 15px;
          }
        }
      }
    }
  }

  .buttons-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    @media (max-width: 420px) {
      flex-direction: column;
      gap: 25px;
      justify-content: center;
    }

    .btn-prev-step {
      background: transparent;
      border: 1px solid #000;
      padding: 5px 15px;
      color: #000;
      font-size: 16px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;
      transition: all 0.2s ease;
      @media (max-width: 420px) {
        justify-content: center;
      }

      svg {
        transform: rotate(180deg);
      }

      &:hover {
        transform: scale(1.01);
      }
    }

    .btn-reserve {
      background: #000;
      border: 1px solid #000;
      padding: 5px 15px;
      color: #fff;
      font-size: 16px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;
      transition: all 0.2s ease;
      @media (max-width: 420px) {
        justify-content: center;
      }
      &:hover {
        transform: scale(1.01);
        background: #333;
      }
    }
  }
}

.recapTotal {
  position: fixed;
  right: 15%;
  top: 25%;
  @media (max-width: 1030px) {
    right: 10%;
  }
}

.containerRecap {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
  }
}

.containerRecap {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
  }
}
