@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeSlideOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}

.modal-container {
  height: 100%;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  animation: fadeIn 0.3s forwards;

  &.closing {
    animation: fadeOut 0.3s forwards;

    .modal {
      animation: fadeSlideOut 0.3s forwards;
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #e0e0e0;
    min-width: 75%;
    min-height: 700px;
    animation: fadeSlideIn 0.3s 0.1s forwards;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-close-modal {
      display: flex;
      width: 100%;

      .icon-close-modal {
        position: absolute;
        top: 25px;
        right: 2%;
        cursor: pointer;
        fill: #000;
        width: 35px;
        height: 35px;
        transition: all ease-in-out 0.3s;

        &:hover {
          transform: scale(1.2);
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }
}
